@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #fb923c #e2e8f0; /* Firefox */
}

/* Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #fb923c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 10px;
    border: 2px solid #fb923c;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #e2e8f0;
}